* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  letter-spacing: 1px;
}

Link {
  text-decoration: none;
  color: inherit;
}

Link nav:hover {
  text-decoration: none;
}

Link {
  float: none;
}

img{
  float: left;
}

@media only screen and (min-width: 320px) {
  nav {
    text-align: justify;
    /*requried for justify-vcenter fix*/
    
    height: 5em;
    /*requried for justify-vcenter fix*/
    
    background: white;
    /*incase the website doesn't accept opacity values*/
    
    background: rgba(255, 255, 255, 0.95);
    color: #505050;
  }
  
  nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:skyblue;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
}